streamlit

pandas
numpy

slack_bolt
slack_sdk

google-auth
google-cloud-firestore

#
# sudo apt update
# sudo apt install ffmpeg
#

assemblyai
yt_dlp

langchain
langchain_community
langchain-core
langgraph

langchain_openai